### Django ###
*.pyc
*.DS_Store

**/migrations/
**/migrations/**
!**/migrations
!**/migrations/__init__.py

**/__pycache__/**
*.log

local_settings.py
db.sqlite3
db.sqlite3-journal
venv

media/**
!media

.vscode
*.ini
.git_credentials
gitpush